"{{ patroni_superuser_username }}" "{{ patroni_superuser_password }}"
"{{ boundary_superuser_username }}" "{{ boundary_superuser_password }}"
"{{ grafana_superuser_username }}" "{{ grafana_superuser_password }}"
